.container{
    margin: 0 auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dumaloq{
    background-color: rgb(134, 187, 55);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
h1{
    text-align: center;
    padding: 40% 0;
}